---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "Página Inicial";
---
<BaseLayout pageTitle = {pageTitle}> 
	<h1>Meu Site Astro</h1>
	<h2>O subtítulo do meu blog</h2>
</BaseLayout>
